# experiments notebook
experiments/

## docs
docs/

# Byte-compiled / optimized / DLL files
__pycache__/

# Apple's metadata files
.DS_Store

## DVC
# DVC plots
dvc_plots
# DVC will add new files after this lineg
/model
